@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  /* margin: 30px 32px; */
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

header {
  padding: 30px 32px 0px;
}
.intro {
  padding: 0px 32px;
}
.caseStudies {
  padding: 60px 32px;
}

header .logo {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #000000;
}

.para1 {
  margin-top: 70px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #000000;
}

.para1 .gradient {
  background-image: linear-gradient(
    89.93deg,
    #b16cea 0.89%,
    #ff6167 44.63%,
    #ffa84b 87.34%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}

.para2 {
  margin-top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  opacity: 0.75;
}

.para3 {
  margin-top: 20px;
}

.cv {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #000000;
}

.line1 {
  margin-top: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.caseStudies h1 {
  /* margin-top: 60px; */
  background-image: linear-gradient(
    89.93deg,
    #b16cea 0.89%,
    #ff6167 44.63%,
    #ffa84b 87.34%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.05em;
}

.thumbnail {
  margin-top: 20px;
}

.dateAndsomeShit {
  margin-top: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
  opacity: 0.5;
}

.caseStudies h2 {
  margin-top: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #000000;
}

.casePara {
  margin-top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  opacity: 0.75;
}

.viewProject {
  margin-top: 20px;
}

.viewProject a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #000000;
}

.img img {
  width: 100%;
}

.writingsHead h1 {
  background: linear-gradient(
    89.93deg,
    #b16cea 0.89%,
    #ff6167 44.63%,
    #ffa84b 87.34%
  );
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.05em;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.writingsHead h2 {
  margin-top: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.writings {
  background-color: black;
  padding: 60px 32px;
}

.dateAndsomeShit2 {
  margin-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  opacity: 0.5;
}

.writingsMatter h2 {
  margin-top: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.writingsMatter hr {
  margin-top: 20px;
  opacity: 0.25;
  border: 1px solid #ffffff;
}

.aboutMe {
  display: inline-block;
  padding: 60px 32px;
}

.aboutMeHead h1 {
  background: linear-gradient(
    89.93deg,
    #b16cea 0.89%,
    #ff6167 44.63%,
    #ffa84b 87.34%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.05em;
}

.aboutMeHead h2 {
  margin-top: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #000000;
}

.about {
  margin-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.socialMedia h3 {
  margin-top: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #000000;
}

.socialMedia p span {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #3c3a5c;
}

.socialMedia p {
  margin-top: 4px;
}

.socialMedia div {
  margin-top: 12px;
}

.socialMedia div .media1 {
  width: 28px;
  height: 23.01px;
  margin-right: 30px;
}
.socialMedia div .media2 {
  width: 25px;
  height: 25.28px;
  margin-right: 30px;
}
.socialMedia div .media3 {
  width: 25px;
  height: 25.28px;
}

footer {
  background-color: black;
  padding: 60px 32px;
}
footer .footNote {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footNote2 {
  background: linear-gradient(
    89.93deg,
    #b16cea 0.89%,
    #ff6167 44.63%,
    #ffa84b 87.34%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.05em;
}
.footNote3 {
  margin-top: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #ffffff;
  opacity: 0.5;
}
.footMenu {
  margin-top: 32px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footMenu li {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.footLogo {
  margin-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #ffffff;
}
.address {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.5;
}
